@model StudentManagementSystem.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <p>Current Date and Time: @Model.CurrentDate</p>
</div>